In [3]:
import numpy as np # numpy to generate random numbers
from scipy.optimize import minimize # scipy.optimize for the optimizer
import pandas as pd

In [4]:
d = pd.read_csv('USProductionFunctionData.csv')

In [7]:
d.head()

        State      GDP  Employment  Capital
0     Alabama   169689     1952091   137904
1      Alaska    49194      310810    33407
2     Arizona   262380     2647691   196447
3    Arkansas   103592     1173852    84571
4  California  1949059    15640575  1562427

51

In [29]:
def logLik(x):
    L = len(d)*np.log(x[0]) + np.sum((d['GDP']-x[1]*(d['Employment']**x[2])*(d['Capital']**(x[3])))**2)/x[0]
    return L

In [30]:
np.std(d['GDP'])

342663.2000885738

In [36]:
x0 = np.array([35000,1,0.5,0.5])

In [38]:
es = minimize(logLik, x0, method='nelder-mead', options={'xatol': 1e-8, 'disp': True,'maxiter': 4e3})

Optimization terminated successfully.
         Current function value: 1108.047503
         Iterations: 3069
         Function evaluations: 5137

In [39]:
es

 final_simplex: (array([[1.00316085e+09, 7.59160910e-02, 7.53477392e-01, 3.19183688e-01],
       [1.00316085e+09, 7.59160910e-02, 7.53477392e-01, 3.19183688e-01],
       [1.00316085e+09, 7.59160910e-02, 7.53477392e-01, 3.19183688e-01],
       [1.00316085e+09, 7.59160910e-02, 7.53477392e-01, 3.19183688e-01],
       [1.00316085e+09, 7.59160910e-02, 7.53477392e-01, 3.19183688e-01]]), array([1108.04750266, 1108.04750266, 1108.04750266, 1108.04750266,
       1108.04750266]))
           fun: 1108.0475026577124
       message: 'Optimization terminated successfully.'
          nfev: 5137
           nit: 3069
        status: 0
       success: True
             x: array([1.00316085e+09, 7.59160910e-02, 7.53477392e-01, 3.19183688e-01])